In [1]:
import pandas as pd

In [7]:
data = pd.read_csv('data/london_merged.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [4]:
data.sample(10)

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
13740,2016-08-02 03:00:00,40,16.0,16.0,94.0,15.0,7.0,0.0,0.0,1.0
365,2015-01-19 06:00:00,472,1.0,-1.0,90.0,7.0,3.0,0.0,0.0,3.0
4842,2015-07-25 09:00:00,1069,15.5,15.5,63.5,28.0,2.0,0.0,1.0,1.0
9783,2016-02-17 19:00:00,675,5.0,2.5,93.0,10.0,7.0,0.0,0.0,3.0
14915,2016-09-21 19:00:00,2580,19.0,19.0,60.0,9.0,1.0,0.0,0.0,2.0
9274,2016-01-27 07:00:00,1674,13.0,13.0,82.0,32.5,3.0,0.0,0.0,3.0
1937,2015-03-25 19:00:00,1520,8.5,8.0,48.0,5.5,1.0,0.0,0.0,0.0
757,2015-02-04 14:00:00,768,4.5,0.5,72.5,18.0,3.0,0.0,0.0,3.0
17012,2016-12-18 06:00:00,79,8.0,8.0,93.0,4.0,4.0,0.0,1.0,3.0
3720,2015-06-08 11:00:00,1053,16.0,16.0,45.0,17.0,3.0,0.0,0.0,1.0

In [6]:
data.describe()

,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
count,17414.000000,17414.000000,17414.000000,17414.000000,17414.000000,17414.000000,17414.000000,17414.000000,17414.000000
mean,1143.101642,12.468091,11.520836,72.324954,15.913063,2.722752,0.022051,0.285403,1.492075
std,1085.108068,5.571818,6.615145,14.313186,7.894570,2.341163,0.146854,0.451619,1.118911
min,0.000000,-1.500000,-6.000000,20.500000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,257.000000,8.000000,6.000000,63.000000,10.000000,1.000000,0.000000,0.000000,0.000000
50%,844.000000,12.500000,12.500000,74.500000,15.000000,2.000000,0.000000,0.000000,1.000000
75%,1671.750000,16.000000,16.000000,83.000000,20.500000,3.000000,0.000000,1.000000,2.000000
max,7860.000000,34.000000,34.000000,100.000000,56.500000,26.000000,1.000000,1.000000,3.000000