# Exercise 6: Scaling fish data for clustering

You are given an array `samples` giving measurements of fish.  Each row represents asingle fish.  The measurements, such as weight in grams, length in centimeters, and the percentage ratio of height to length, have very different scales.  In order to cluster this data effectively, you'll need to standardize these features first.  In this exercise, you'll build a pipeline to standardize and cluster the data.

This great dataset was derived from the one [here](http://svitsrv25.epfl.ch/R-doc/library/rrcov/html/fish.html), where you can see a description of each measurement.

**Step 1:** Load the dataset _(this bit is written for you)_.

In [1]:
import pandas as pd

df = pd.read_csv('../datasets/fish.csv')

# forget the species column for now - we'll use it later!
del df['species']

**Step 2:** Call `df.head()` to inspect the dataset:

In [2]:
df.head()

   weight  length1  length2  length3  height  width
0   242.0     23.2     25.4     30.0    38.4   13.4
1   290.0     24.0     26.3     31.2    40.0   13.8
2   340.0     23.9     26.5     31.1    39.8   15.1
3   363.0     26.3     29.0     33.5    38.0   13.3
4   430.0     26.5     29.0     34.0    36.6   15.1

In [3]:
df.describe()

            weight    length1    length2    length3     height      width
count    85.000000  85.000000  85.000000  85.000000  85.000000  85.000000
mean    431.758824  27.338824  29.557647  33.120000  28.076471  12.865882
std     380.933962  11.289450  12.185045  13.197292  10.351543   2.117476
min       0.000000   9.300000   9.800000  10.800000  14.500000   8.700000
25%     120.000000  19.400000  21.000000  23.700000  16.900000  11.000000
50%     390.000000  28.400000  30.700000  35.000000  27.100000  13.700000
75%     650.000000  32.700000  36.000000  40.600000  39.200000  14.700000
max    1650.000000  59.000000  63.400000  68.000000  44.500000  16.100000

**Step 3:** Extract all the measurements as a 2D NumPy array, assigning to `samples` (hint: use the `.values` attribute of `df`)

In [5]:
samples =  df.values
samples.shape

(85, 6)

**Step 4:** Perform the necessary imports:

- `make_pipeline` from `sklearn.pipeline`.
- `StandardScaler` from `sklearn.preprocessing`.
- `KMeans` from `sklearn.cluster`.

In [6]:
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

**Step 5:** Create an instance of `StandardScaler` called `scaler`.

In [8]:
scaler = StandardScaler()

**Step 6:** Create an instance of `KMeans` with `4` clusters called `kmeans`.

In [7]:
kmeans = KMeans(4)

**Step 7:** Create a pipeline called `pipeline` that chains `scaler` and `kmeans`. To do this, you just need to pass them in as arguments to `make_pipeline()`.

In [10]:
pipeline = make_pipeline(scaler, kmeans)

**Great job!** Now you're all set to transform the fish measurements and perform the clustering.  Let's get to it in the next exercise!